@*@model CarinhoCompraVM*@
@model CarrinhoCompraFakeStore



   @* <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><img src="~/images/cart-5-16.ico" /></span>
        <span style="color:white">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>*@
    <a asp-controller="CarrinhoCompra" asp-action="Index" class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">
      @*          @if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
                @Model.CarrinhoCompra.CarrinhoCompraItems.Count
} 1*@
                     @if (Model.products.Count > 0)
            {
                @Model.products.Count
            } 
            </span>
        </button>
    </a>


